<div class="mt-4 p-5 bg-primary text-white rounded">
    <div class="row">
        <!--    5grids, last grid-->

        <div class="col-md">

        </div>
        <div class="col-md">

        </div>
        <div class="col-md">

        </div>
        <div class="col-md">

        </div>

        <div class="col-md">
            <h1>2KS AIRLINE</h1>
            <p>&copy; KHOI KHOA SON 2024 PROJECT</p>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>

    </div>
</div>