{% extends 'layout/base.html' %}
{% block script %}
<script>
    var tonggiatien = {{cart.total_amount}}
    function HangVe2(price) {
        tonggiatien += price*3
        let Tong = document.getElementById("Tongtien")
        Tong.innerText = tonggiatien.toLocaleString("en-US")
        console.info({{tonggiatien}})
        document.getElementById("total").setAttribute('value',tonggiatien);
    }

    function HangVe1(price) {
        tonggiatien -= price*3
        let Tong = document.getElementById("Tongtien")
        Tong.innerText = tonggiatien.toLocaleString("en-US")
        console.info({{tonggiatien}})
        document.getElementById("total").setAttribute('value',tonggiatien);
    }


</script>
{% endblock %}

{% block content %}
<div style="width:250px;background:lightblue;position:fixed;right: 0px">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th><h4>Tổng Tiền</h4></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><h4 id="Tongtien">{{"{:,.0f}".format(cart.total_amount) }}</h4><span style="font-size: 25px">VNĐ</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<br><br>
<h1 class="text-center">NHẬP THÔNG TIN KHÁCH HÀNG</h1>
<br><br><br>
<form action="/api/pay/{{sove}}" method="post">
    {% set count = namespace(value = 0)%}
    {% for c in session['cart'].values() %}
    <div style="border: solid 1px; padding: 20px">
        {% for f in cb %}
        {% if f.id == c.chuyen_bay_id %}
        <h1 class="text-center">{{c.id}}. Chuyến bay {{f.ten_chuyen_bay}}</h1>
        {% endif %}
        {% endfor %}
        <br>
        {% for i in range(c.quantity) %}
        <h4>Khách hàng thứ {{i+1}} </h4>
        <div style="padding: 20px; border: 1px solid">
            <div class="d-flex">
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio1" name="sex{{ count.value }}" value="Nam"
                           checked>Nam
                    <label class="form-check-label" for="radio1"></label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio2" name="sex{{count.value}}" value="Nữ">Nữ
                    <label class="form-check-label" for="radio2"></label>
                </div>
            </div>
            <br>
            <div class="form-check">
                <input class="form-check-input" type="radio" onchange="HangVe1({{c['price']}})"
                       name="hangve{{ count.value }}" id="flexRadioDefault1" value="1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                    Hạng vé 1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" onchange="HangVe2({{c['price']}})" type="radio"
                       name="hangve{{ count.value }}" id="flexRadioDefault2" value="2">
                <label class="form-check-label" for="flexRadioDefault2">
                    Hạng vé 2
                </label>
            </div>
            <br>
            <div class="mb-3 mt-3">
                <label for="name" class="form-label">Tên khách hàng</label>
                <input type="text" class="form-control" id="name" placeholder="Nhập tên..." name="name{{count.value}}"
                       required>
            </div>
            <div class="mb-3">
                <label for="phone_num" class="form-label">Số điện thoại</label>
                <input type="text" class="form-control" id="phone_num" placeholder="Nhập số điện thoại"
                       name="phone_num{{count.value}}" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="address" class="form-label">Địa chỉ</label>
                <input type="text" class="form-control" id="address" placeholder="Nhập địa chỉ"
                       name="address{{count.value}}" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" placeholder="Nhập email..."
                       name="email{{count.value}}" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="cmnd" class="form-label">CCCD/CMND</label>
                <input type="text" class="form-control" id="cmnd" placeholder="Nhập CMND/CCCD"
                       name="CMND{{count.value}}" required>
            </div>
        </div>
        <br><br>
        {% set count.value = count.value + 1 %}
        {% endfor %}

    </div>
    <br><br>
    {% endfor %}
    <input type="number" class="form-control" id="total" value="{{cart.total_amount}}" name="total" hidden>
    <button type="submit" onclick="pay()" class="btn btn-primary">Thanh Toán</button>
</form>
{% endblock %}